---
layout: default
title: All Posts
---

<div class="blog-index">
  <h1 style="text-align: center;">All Posts</h1>
  <p style="text-align: center; color: #718096; margin-bottom: 2em;">
    {{ site.posts.size }} posts and counting
  </p>

  {% assign posts_by_year = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}
  
  {% for year_group in posts_by_year %}
    <h2 style="margin-top: 1.5em;">{{ year_group.name }}</h2>
    <ul class="posts">
      {% for post in year_group.items %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
          <span class="date">{{ post.date | date: "%b %d" }}</span>
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
</div>
